/* TODO: do some DRYing up in here */

:root {
  --color__dark-mode-text: rgb(244, 253, 252);
}

/* TOOD: accessibilty! */
a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: black;
  font-size: 1.2rem;
}

.app {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav {
  position: absolute;
  top: 1vw;
  left: 1vw;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--color__dark-mode-text);
}

.nav__link:hover {
  font-weight: 600;
}

.material-icons-outlined {
  font-size:x-large;
}

.photo-container {
  width: 85%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterbox {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  width: 60%;
  color: var(--color__dark-mode-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.info__actions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
}

.info__action-icon {
  vertical-align: bottom;
}

.info__action:hover {
  font-weight: 600;
}