/* TODO: make responsive / vertical mobile layout */
/* TODO: do some DRYing up in here */
/* TOOD: accessibilty pass*/
a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: black;
  font-size: 1.2rem;
}

.app {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (max-aspect-ratio: 1/1) {
  .app {
    padding-top: 3vw;
  }
}

.nav {
  position: absolute;
  top: 1vw;
  left: 1vw;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--color__dark-mode-text);
}

.nav__link:hover {
  font-weight: 600;
}

.material-icons-outlined {
  font-size:x-large;
}

.photo-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-aspect-ratio: 1/1) {
  .photo-container {
    
  }
} */

.letterbox {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.photo--monochrome {
  filter: grayscale(1);
}

.info {
  color: var(--color__dark-mode-text);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
}

.info__text {
  margin-right: 3rem;
  margin-block: 0;
}

.info__actions {
  position: relative;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.info__action-icon {
  vertical-align: bottom;
}

.info__action:hover {
  font-weight: 600;
}