/* TOOD: may be time to split style into separate component files
/* TOOD: accessibilty pass*/

:root {
  --color__dark-mode-text: rgb(244, 253, 252);
  --color__medium-grey: rgb(197, 203, 203);
  --color__forest-green: rgb(98, 201, 101);
  --app-padding: 2vw;

  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.copyright-notice {
  font-size: 0.8rem;
  color: white;
  text-align: center;
}

body {
  color: var(--color__dark-mode-text);
  background-color: black;
}

.material-icons {
  user-select: none;
  -webkit-user-select: none;
}

.app {
  padding: var(--app-padding);
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.main-content {
  grid-column: 2 / span 1;
}

.left-sidebar {
  grid-column: 1 / span 1;
  color: var(--color__dark-mode-text);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: var(--app-padding);
  left: var(--app-padding);
}

.sidebar-menu__icon {
  color:var(--color__medium-grey);
  font-size: 200%;
  transition: color 0.1s ease-in-out;
}

@media (max-aspect-ratio: 3/4) {
  .sidebar-menu__icon {
    margin-bottom: 2vh;
  }
}

.sidebar-menu__icon:hover {
  cursor: pointer;
  font-weight: bolder;
  color: var(--color__dark-mode-text);
}

.sidebar-menu__icon--lit {
  color: var(--color__forest-green);
}