body {
  background-color: black;
}

.gallery {
  margin: 3vw 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
}

@media (max-aspect-ratio: 4/3) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 6vw;
  }
}

@media (max-aspect-ratio: 10/16) {
  .gallery {
    grid-template-columns: 1fr;
    margin: 6vw 25vw;
  }
}

@media (hover: hover) {
  .preview__img--obscured {
    opacity: 0.5;
  }
}

.preview {
  width: 100%;
  height: auto;
  grid-column-end: span 1;
  grid-row-end: span 1;
  overflow: hidden;
}

.preview__img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  transition: opacity 0.2s ease-in-out;
}