body {
  background-color: black;
}

.app {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  padding: 4vw;
}

.grid-center-gallery {
  grid-column: 2 / span 1;
}

.left-sidebar {
  grid-column: 1 / span 1;
  color: var(--color__dark-mode-text);
}

.monochrome-icon {
  font-size: 200%;
  cursor: pointer;
  position: absolute;
  top: 4vw;
  left: 4vw;
}

.monochrome-icon:hover {
  font-weight: bolder;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
}

@media (max-aspect-ratio: 4/3) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 6vw;
  }
}

@media (max-aspect-ratio: 10/16) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media (hover: hover) {
  .preview__img--obscured {
    opacity: 0.5;
  }
}

.preview {
  width: 100%;
  height: auto;
  grid-column-end: span 1;
  grid-row-end: span 1;
  overflow: hidden;
}

.preview__img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  transition: opacity 0.2s ease-in-out;
}

.preview__img--monochrome {
  filter: grayscale(1);
}

.home-footer {
  grid-column: 1 / span 3;
}